button {
    padding: auto;
    display: block;
}

.mioButton {
    padding: 10px;
    background-color: lightseagreen;
    border-radius: 8px;
    border: 1px solid lightseagreen;
    display: flex;
    margin-left: 50%;
}

.mioButton:hover {
    cursor: pointer;
    background-color: yellow;
}